<!DOCTYPE html>
<meta charset='utf-8'/>
<html>
  <%= erb_partial(:header) %>
  <body>
    <div id='ui-group'>
      <%= erb_partial(:nav) %>
      <div id='janus-group'>
        <%= erb_partial(:identity) %>
        <%= erb_partial(:projects) %>
        <%= erb_partial(:keys) %>
      </div>
    </div>
  </body>
</html>
