<!DOCTYPE html>
<meta charset='utf-8'/>
<html>
  <%= erb_partial(:header) %>
  <script type='text/javascript'>

const show = (e,type='inline') => e.style = `display:${type};`;
const hide = (e) => e.style = 'display:none;';
const showForm = (form) => form.querySelectorAll('i').forEach(i =>show(i));
const hideForm = (form) => form.querySelectorAll('i').forEach(hide);

const INPUTS = {
  select: {
    selector: (name) => `select[name="${name}"]`,
    changed: (input, original) => original ? (input.value != original.value) : (input.value != 'none'),
    reset: (input, original) => input.value = original ? original.value : 'none'
  },
  text: {
    selector: (name) => `input[type="text"][name="${name}"]`,
    changed: (input, original) => original ? (input.value != original.value) : (input.value.length > 0),
    reset: (input, original) => input.value = original ? original.value : ''
  },
  checkbox: {
    selector: (name) => `input[type="checkbox"][name="${name}"]`,
    changed: (input, original) => input.checked.toString() != original.value,
    reset: (input, original) => input.checked = original.value == 'true'
  }
};

const inputsChanged = (form, inputs) =>
  Object.keys(inputs).some(type =>
    inputs[type].some(name =>
      INPUTS[type].changed(
        form.querySelector(INPUTS[type].selector(name)),
        form.querySelector(`input[name="original_${name}"]`)
      )
    )
  );

const resetInputs = (form, inputs) =>
  Object.keys(inputs).forEach(type =>
    inputs[type].forEach(name =>
      INPUTS[type].reset(
        form.querySelector(INPUTS[type].selector(name)),
        form.querySelector(`input[name="original_${name}"]`)
      )
    )
  );

const PERMISSION_INPUTS = {
  select: [ 'role' ],
  checkbox: [ 'privileged' ],
  text: [ 'affiliation' ]
};

const updatePermission = function(e) {
  let select = e.target;
  let form = select.closest('.item');

  if (inputsChanged(form, PERMISSION_INPUTS)) showForm(form);
  else hideForm(form);
}

const approveForm = function(e) {
  let select = e.target;
  let form = select.closest('.item');

  form.submit();
}

const cancelPermission = function(e) {
  let select = e.target;
  let form = select.closest('.item');

  resetInputs(form, PERMISSION_INPUTS);
  hideForm(form);
}

const NEWUSER_INPUTS = {
  select: [ 'role' ],
  text: [ 'name', 'email' ]
};

const updateNewUser = function(e) {
  let select = e.target;
  let form = select.closest('.item');

  if (inputsChanged(form, NEWUSER_INPUTS)) showForm(form);
  else hideForm(form);
}

const cancelNewUser = function(e) {
  let select = e.target;
  let form = select.closest('.item');

  resetInputs(form, NEWUSER_INPUTS);
  hideForm(form);
}

const value = (item) => item.value || item.innerHTML;

const filter = (e) => {
  let filter = e.target.value;

  let items = document.querySelectorAll('.items .item');
  items.forEach(item => {
    let columns = [ 'name', 'email', 'role', 'affiliation' ];
    if (columns.some(value_class =>
      value(item.querySelector(`.${value_class}`)).match(new RegExp(filter, 'i'))
      )) {
      show(item, 'flex');
    } else hide(item);
  })
}
  </script>
  <body>
    <div id='ui-group'>
      <%= erb_partial(:nav) %>
      <div id='janus-group'>
        <div class='project'>
          <div class='title'><%= @project.project_name_full.capitalize %></div>
          <div class='item summary'>
            <%= [ 'administrator', 'editor', 'viewer' ].map do |role|
              @project_roles[role] &&
              "#{@project_roles[role].size} #{ role }#{ @project_roles[role].size == 1 ? '' : 's' }"
            end.compact.join(', ')
          %>,

          <%= @project.permissions.count(&:privileged?) %> privileged user<%= @project.permissions.count(&:privileged?) == 1 ? '' : 's' %>
          </div>
          <div class='item header'>
            <div class='cell'>Name</div>
            <div class='cell'>Email</div>
            <div class='cell'>Role</div>
            <div class='cell'>Affiliation</div>
            <div class='cell'>Privileged</div>
            <div class='cell submit'></div>
          </div>
          <% if @project.permissions.size > 10 %>
            <div class='item'>
              <input class='filter' type='text' placeholder='Filter rows' name='filter' oninput='filter(event)'>
            </div>
          <% end %>
          <div class='items'>
          <% @project.permissions.sort_by{|p| [ p.role, p.user.email ] }.each do |permission| %>
            <form method='post' action='/update_permission/<%= @project.project_name %>' class='item permission'>
              <div class='cell'><span class='name'><%= permission.user.name %></span></div>
              <div class='cell'>
                <% if !@static %>
                  <input type='hidden' name='email' value='<%= h(permission.user.email) %>'>
                <% end %>
                <span class='email'><%= permission.user.email %></span></div>
              <div class='cell'>
                <% if !@static %>
                  <input type='hidden' name='original_role' value='<%= h(permission.role) %>'>
                <% end %>
                <% unless @roles.include?(permission.role) %>
                  <span class='role'><%= permission.role %></span>
                <% else %>
                  <select class='role' name='role' oninput='updatePermission(event)'>
                    <% @roles.each do |role| %>
                      <option value='<%= role %>' <%= role == permission.role.to_s ? 'selected' : '' %>><%= role %></option>
                    <% end %>
                  </select>
                <% end %>
              </div>
              <div class='cell'>
                <% if !@static %>
                  <input type='hidden' name='original_affiliation' value='<%= h(permission.affiliation) %>'>
                  <input class='affiliation' type='text' name='affiliation' value='<%= h(permission.affiliation) %>' oninput='updatePermission(event)'>
                <% else %>
                  <span class='affiliation'><%= h(permission.affiliation) %></span>
                <% end %>
              </div>
              <div class='cell'>
                <% if @static %>
                  <%= permission.privileged? ? 'Yes' : '' %>
                <% else %>
                  <input type='hidden' name='original_privileged' value='<%= permission.privileged? ? 'true' : 'false' %>'>
                  <input type='hidden' name='privileged' value='false'>
                  <input type='checkbox' name='privileged' value='true' <%= permission.privileged? ? 'checked' : '' %> oninput='updatePermission(event)'>
                <% end %>
              </div>
              <div class='cell submit'>
                <i class='approve fa fa-fw fa-save' style='display:none;' onclick='approveForm(event)'> </i>
                <i class='cancel fa fa-fw fa-ban' style='display:none;' onclick='cancelPermission(event)'> </i>
              </div>
            </form>
          <% end %>
          </div>
          <% if !@static %>
            <div class='new'>New User</div>
            <form method='post' action='/add_user/<%= @project.project_name %>' class='item'>
              <div class='cell'><input type='text' oninput='updateNewUser(event)' placeholder='Name' name='name'></div>
              <div class='cell'><input type='text' oninput='updateNewUser(event)' placeholder='Email' name='email'></div>
              <div class='cell'>
                <select oninput='updateNewUser(event)' name='role'>
                  <option selected value='none'>Role</option>
                  <option value='viewer'>Viewer</option>
                  <option value='editor'>Editor</option>
                </select>
              </div>
              <div class='cell'><input type='text' oninput='updateNewUser(event)' placeholder='Affiliation' name='affiliation'></div>
              <div class='cell'></div>
              <div class='cell submit'>
                <i class='approve fa fa-fw fa-save' style='display:none;' onclick='approveForm(event)'> </i>
                <i class='cancel fa fa-fw fa-ban' style='display:none;' onclick='cancelNewUser(event)'> </i>
              </div>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
