<script type='text/javascript'>

const approveForm = function(e) {
  let select = e.target;
  let form = select.closest('.item');

  form.submit();
}
</script>

<div id='projects-group'>
  <% if @janus_user.superuser? %>
    <div class='title'>All Projects</div>
    <div class='projects'>
      <% Project.all.each do |project| %>
        <div class='item'>
          <a href='/project/<%= project.project_name %>'>
            <%= project.project_name_full.capitalize %>
          </a> - <%= project.project_name %>
        </div>
      <% end %>
    </div>
    <div class='new'>New Project</div>
    <form method='post' action='/add_project' class='item'>
      <div class='cell'><input type='text' placeholder='Project Full Name' name='project_name_full'></div>
      <div class='cell'><input type='text' placeholder='project_short_name' name='project_name'></div>
      <div class='cell submit'>
        <i class='approve fa fa-fw fa-magic' onclick='approveForm(event)'> </i>
      </div>
    </form>
  <% else %>
    <div class='title'>Your Projects</div>
    <% @janus_user.permissions.sort_by{|p| p.role[0] + p.project.project_name_full.capitalize }.each do |permission| %>
      <div class='item'>
        <% if permission.editor? || @janus_user.superuser? %>
          <a href='/project/<%= permission.project.project_name %>'>
            <%= permission.project.project_name_full.capitalize %>
          </a>
        <% else %>
          <%= permission.project.project_name_full.capitalize %>
        <% end %>
        - <i><%= permission.role %><%= permission.privileged? ? ', privileged access' : '' %></i>
      </div>
    <% end %>
  <% end %>
</div>
